{% extends "../../layout/index.njk" %}

{% block css %}
  <link rel="stylesheet" href="/style/css/order.css" />
{% endblock %}

{% block content %}
  <div id="app"></div>
{% endblock %}

{% block js %}
  <script src="/style/js/order.js"></script>
{% endblock %}
